/*Styling for footer*/

.beta{
    position:fixed;
    bottom: 0;
    right:0;
    margin-left:auto; 
    margin-right:0;
    background:#ffffff;
    width: 200px;
    
    border-radius:5px;
    border:1px solid #dedede;
    text-align: center;
}

.beta p {
    font-size: 1.2em;
    line-height: 1.7em;
}

footer{
    background-image: url("../images/dark-background.jpg");
    /*background-repeat: no-repeat;
    background-size:100%;*/
    color:white;
    padding:15px;
   -webkit-box-shadow: 0px -2px 6px 1px rgba(87,86,87,1);
-moz-box-shadow: 0px -2px 6px 1px rgba(87,86,87,1);
box-shadow: 0px -2px 6px 1px rgba(87,86,87,1);
font-size: 0.9em;
background-color:black;
}

footer a{
    color:white;
}

footer li{
   text-align: left;
   margin-top:10px;
}

.grey2{
    color:white;
}



.footerLinks{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer p{
    margin-top:20px;
    color:white;

}